<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luo.dao.ProfessionItemDao">
    <select id="findCourseByProfessionId" parameterType="int" resultType="com.luo.entity.Course">
        select a.course_id courseId,course_name courseName,course_hour courseHour from u_profession_course a,u_course b where a.course_id = b.course_id and a.profession_id = #{id}
    </select>
</mapper>