<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>UMSystem</display-name>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>

  <servlet>
    <description>登录</description>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.luo.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>学生信息管理</description>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.luo.controller.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>教师信息管理</description>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>com.luo.controller.TeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/TeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>专业</description>
    <servlet-name>ProfessionServlet</servlet-name>
    <servlet-class>com.luo.controller.ProfessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessionServlet</servlet-name>
    <url-pattern>/ProfessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>课程</description>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>com.luo.controller.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>系统</description>
    <servlet-name>SystemServlet</servlet-name>
    <servlet-class>com.luo.controller.SystemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemServlet</servlet-name>
    <url-pattern>/SystemServlet</url-pattern>
  </servlet-mapping>
 
</web-app>